body {
  font-family: Arial, sans-serif;
  background-color: #F5F1EB;
  color: #333;
  font-size:20px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #D2A48C;
  padding: 20px;
}

h1 {
  color: #fff;
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 10px;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

/* Style for hover effect on topics */
nav ul li:hover a {
  color: maroon;
}

/* Style for active topic */
nav ul li.active a {
  background-color: red;
  color: #fff;
}
  
nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 20px;
}

#QR {
  padding: 100px;
  text-align: center;
}

#QR h2 {
  font-size: 30px;
}

.breeds-container {
  background: linear-gradient(to bottom right, #FEF4E8, #FCE0BF);
  padding: 20px;
  border-radius: 10px;
}

/* Add styles to initially hide elements under adopt-card & breed-card */
.breed-card h3,
.breed-card p,
.adopt-card p,
.adopt-card ul {
  display: none;
}

/* Reduce the size of all breed & adopt icons to a maximum of 100px in width and height */
.breed-card img,
.adopt-card img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
}

/* Images to be centered within their containers */
.breed-card,
.adopt-card {
  text-align: center;
}

.adoption-container {
  background: linear-gradient(to bottom right, #FDEEE8, #FBD2C8);
  padding: 20px;
  border-radius: 10px;
}

.fun-container {
  background: linear-gradient(to bottom right, #FDF8E8, #FCEBBF);
  padding: 20px;
  border-radius: 10px;
}

.video-container {
  text-align: center;
  margin: 50px auto; /* Center the video container */
  width: 100%;
}

.game-container {
  text-align: center;
  margin: 50px auto 0; /* Adjust the top margin to move the game container down */
  width: 500px;
  height: 500px;
  position: relative;
}

.cat-container {
  position: relative;
  bottom: 0; /* Position the cat container at the bottom of the game container */
  left: 0;
  width: 100%; /* To make the cat container stretch to fit the game container */
  height: 300px;
  border: 2px solid #000;
  box-sizing: border-box;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
}

#cat {
  position: absolute;
  bottom: 0; /* Position the cat image at the bottom of the cat container */
  left: 0;
  width: 80px;
  height: 80px;
  /* Center the image within the cat container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score {
  font-size: 18px;
  font-weight: bold;
}

/* CSS for the vibrating effect */
@keyframes tilt {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
  75% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

/* Apply the animation to the "vibrate" class */
  #main-content > div:not(#game) img.vibrate:hover {
  animation: tilt 0.8s ease-in-out infinite;
}

/* Responsive styles for screens <= 800px */
@media (max-width: 800px) {
  /* Apply styles for smaller screens */
  body {
    font-size:3vw;
  }

  #main-content {
    margin-top: 200px;
  }
  
  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D2A48C;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  #menu.open {
    display: flex;
  }

  #menu li {
    margin: 5px;
  }

  #menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .breed-card h3,
  .breed-card p {
    display: none; /* Show h3 and p on smaller screens */
  }

  .adopt-card p,
  .adopt-card ul {
    display: none; /* Show p and ul on smaller screens */
  }

  /* Reduce the size of all breed icons for smaller screens */
  .breed-card img,
  .adopt-card img {
    max-width: 80px;
    max-height: 80px;
  }

  /* Adjust the game container layout for smaller screens */
  .game-container {
    display: flex; /* Use Flexbox for layout control */
    flex-direction: column; /* Arrange elements in a column */
    align-items: center; /* Center the elements horizontally within the game container */
    width: 80%;
    height: fit-content;
  }

  /* Adjust the cat container size for smaller screens */
  .cat-container {
    width: 100%; /* The cat container will take the full width of the game container */
    margin-top: 20px; /* Push the cat container to the bottom of the game container */
  }

  /* Adjust the cat image size for smaller screens */
  #cat {
    width: 50px; /* Reduce the width of the cat image for smaller screens */
    height: 50px; /* Reduce the height of the cat image for smaller screens */
  }

  /* Adjust the font size for smaller screens */
  #timer {
    font-size: 15px; /* Adjust the font size of the timer for smaller screens */
  }

  #score {
    font-size: 14px; /* Adjust the font size of the score for smaller screens */
  }

  /* Adjust the video container size for smaller screens */
  .video-container iframe {
    width: auto; /* Make embedded videos take full width within the video container */
    height: 90%; /* Let the height adjust automatically based on the aspect ratio */
  }
}